body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.caption {
  border: 1px solid black;
  font-size: 20px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
text-shadow: 1px 1px 1px  rgb(136, 82, 82);
  max-width: 50%;
  background-color: rgb(239, 230, 230);
  color: black;
  text-align: left;
  padding: 15px 30px;
font-family:Georgia;
line-height: 4.5vh;
  
}
.carousel-caption {
  display: flex;

  justify-content: space-between;
  align-items: baseline;

  /* position: absolute; */

  padding-top: 1px;
  padding-bottom: 1px;
  right: 0% !important;
  left: 0% !important;
  margin: 0px 20px;
  top: 0px;
  max-width: 100%;
  height: 150px;
}
.carousel {
  max-width: 60%;
  margin: 10px auto;
top: 4vh;

box-shadow: 1px 4px 3px #4d4d4d;
}
.bannerImage {
  max-width: 100%;
  min-height:40vh

}
.carousel-item {
  display: flex;
  flex-direction: column;

}
.heading{
  max-width: 70%;
  display: flex;
  flex-direction: column;


}
.heading button {
  padding: 0px;
  margin: 0%;
}
.item {
  max-width: 100%;
  padding: 5px;
  /* height: 5vh; */
  font-family: Georgia;
margin: 0%;
align-items:center;

  display: flex;
}


.carousel-indicators button {
  height: 15px !important;
  width: 15px !important;
  margin: 0 10px !important;
  border-radius: 100%;
  background-color: black !important;
  ;
}
.itemCaption >h4 {
  font-size: medium;
  padding: 0%;
  margin:0;
  font-weight: bold;
}
.itemCaption > p {
  font-size: 15px;
  padding: 0%;
  margin:0;

}


.CheckIcon {
  max-width: 13%;
  margin: 0px 10px;
  height: 6vh;
  mix-blend-mode:color-burn;
}
.mx-2.active{
  background-color: rgb(218, 212, 212)!important;;
  padding: 0px;
  text-shadow: 0px 0px 1px blue;
  color: rgb(14, 14, 15);

}
.mx-2{
  background-color: rgb(235,235,235)!important;;
margin: 0%;
padding: 0%;
}
.homeMainSection{
  margin: 60px auto 10px auto;
  padding: 20px;
  max-width: 80%;
  line-height: 4vh;
  -moz-box-shadow: 0 0 3px #868080;
  -webkit-box-shadow: 0 0 3px #868080;
  box-shadow: 0 0 3px #868080;
  display: flex;
  justify-content: space-between;

}
.toast-header{
  background-color: #4d4d4d !important;
  max-width: 100% !important;
}
.toast{
  margin-left: 20px;
}
.toast-header .me-auto{
color: whitesmoke;
}
.toast-header a{
color: whitesmoke;

}
.toast-body{
  max-width: 100% !important;
}
.homeMainSection div{
  max-width: 70%;
  
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card-image{
  max-width: 40%;
  aspect-ratio: 5/5;
  border-radius: 50%;
}
.cardsMain{
  margin: 60px auto 10px auto;
  padding: 20px;
  max-width: 80%;
  line-height: 4vh;
  -moz-box-shadow: 0 0 3px #868080;
  -webkit-box-shadow: 0 0 3px #868080;
  box-shadow: 0 0 3px #868080;


 
  
}
.cardOne{
  -moz-box-shadow: 0 0 3px #868080;
  -webkit-box-shadow: 0 0 3px #868080;
  box-shadow: 0 0 3px #868080;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
font-size: medium;

}
.cards-title{
font-size: 20px;
margin-top: 15px;
font-weight: bold;

}
.homeMainSection h4{
  margin-bottom: 20px;

}
button.active{
  background-color:  rgb(239, 230, 230) !important;
}
.toast .btn-close{
  display: none;
  
}
@media screen and (max-width: 900px) {
  .carousel {
    max-width: 95%;
    margin: 0px auto;
    top: 2vh;

  }
 
.cards{
  display: flex;
  flex-direction: column;
}
.cards-title{
  font-size: medium;
}
.cardOne ul{
  font-size: small;
}
.cardsMain{
  max-width: 95%;
  line-height: 4.5vh;
  
}
.cardsMain h5{
  line-height: 4.5vh;
  font-size: large;
  
}
.cardsMain .overview{
  font-size: medium;


}
  .toast{
    margin: 10px auto 30px auto;
  }
  .homeMainSection div{
    max-width: 100%;
    font-size: small;
    
  }
  .homeMainSection div h4{
    font-size: large;
    line-height: 4vh;

    
    
  }
.homeMainSection{
flex-direction: column-reverse;
max-width: 95%;

}

  .carousel-caption {
    flex-direction: column-reverse;
    justify-content: start;
    
  }
  .caption{
    display: none;
  }
  .itemCaption >h4 {
    font-size: small;
    padding-bottom: 5px;
   }
   .itemCaption > p {
    font-size: small;
   }
.heading{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.item{

  margin-left: auto;
  margin-right: auto;
}
.bannerImage {
  max-width: 100%;
  min-height:45vh;

}

.itemCaptionFlip p {
  font-size: small;
  padding: 0px;
  margin: 0%;
  }
  .itemCaptionFlip{
    padding:  0px 5px;

  }
  .itemFlip{
  padding: 5px;
  
  }
  .itemCaptionFlip a {
    font-size: small;
  }

}